
#zen-ghost-mode-button {
  list-style-image: url("chrome://browser/skin/zen-icons/ghost/ghost.png");

  & > .toolbarbutton-icon {
    transition: scale 0.15s ease;
    scale: 1;
  }

  &:hover > .toolbarbutton-icon {
    scale: 1.14;
  }

  &:active > .toolbarbutton-icon {
    scale: 1.06;
  }
}
